<%- include('partials/header',{title: title,stylesheets: stylesheets, javascripts: javascripts, sighting:sighting}) %>
<div class="container pt-1 pb-1">
    <div class="row">
        <div class="pb-2 bg-light rounded">
            <div class="p-2 text-center">
                <h2 class="text-primary">Sighting on <%= new Date(sighting.dateTime).toString().substring(0,24) %> </h2>
            </div>
            <div>
                <div class="row p-3">
                    <div class="col pt-4 ps-lg-4">
                        <p class="text-success">Seen by: <%= sighting.userNickName %> </p>
                        <br>
                        <p class="text-success">Name:  <%= sighting.givenName %></p>
                        <p class="text-success">Status: <%= sighting.identificationStatus %></p>
                        <p class="text-success">Description: <%= sighting.description %></p>
                        <br>
                        <p class="text-success">Location: <%= sighting.lat.valueOf().toString() %>, <%= sighting.long.valueOf().toString() %></p>
                        <p class="text-success">Sun exposure: <%= sighting.sunExposureLevel %>%</p>
                        <div class="d-flex row flex-row ">
                            <% if(sighting.hasSeeds){ %>
                                <div class="thumbnail me-2">
                                    <img src="/static/images/Seeds.png" alt="Has seeds" class="rounded thumbnail border border-3 border-black">
                                </div>
                            <% } %>
                            <% if(sighting.hasFruit){ %>
                                <div class="thumbnail mx-2">
                                    <img src="/static/images/Fruits.png" class="rounded thumbnail border border-3 border-black">
                                </div>
                            <% } %>
                            <% if(sighting.hasFlowers){ %>
                                <div class="thumbnail mx-2">
                                    <img src="/static/images/Flower.png" class="rounded thumbnail border border-3 border-black" style="<%= sighting.flowerColour ? "background-color: " + sighting.flowerColour + " !important;" : "" %>">
                                </div>
                            <% } %>

                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="rounded-top bg-secondary-subtle col-8">
                                <div class="row">
                                    <div class="d-flex align-items-center col-4 justify-content-end pt-4">
                                        <p class="d-flex align-items-center text-success text-end">Height: <%= sighting.plantEstHeight %>cm<i class="bi bi-arrows-vertical text-success h1" ></i></p>
                                    </div>
                                    <div class="col-8 justify-content-center pt-4 pe-4">
                                        <img class="rounded w-100" src="/public/images/uploads/<%= sighting.photo %>"><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="rounded-bottom bg-secondary-subtle col-8">
                                <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8 text-center pe-4">
                                    <i class="bi bi-arrows text-success h1 text-center"></i>
                                    <p class="text-success">Spread: <%= sighting.plantEstSpread %>cm</p>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-1"></div>
                    <div class="col-10 bg-secondary-subtle">
                    <h2>Comments</h2>
                        <div id="chat_interface" >
                            <div>
                                <div id="in_room" style="display: inline"></div>
                            </div>
                            <div id="history" class="boxed"></div>
                            <div id="input" class="bottom boxed">
                                <form onsubmit="return false;" style="width: 100%">
                                    <p>
                                        <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                                        <button id="chat_send" onclick="sendChatText()">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/syncSightings.js"></script>
</div>
<%- include('partials/footer') %>